/* Navbar Styling */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: #151925;
  padding: 0 20px;
}

/* Left Side */
.left {
  color: white;
}

/* Right Side Menu */
.right {
  display: flex;
  justify-content: space-around;
}

.button {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  background-color: transparent;
  border: none;
  font-size: 18px;
  color: #03B0FD;
  cursor: pointer;
  padding: 10px;
}

/* Mobile Menu Icon */
.menu-icon {
  display: none;
  font-size: 30px;
  cursor: pointer;
  color: #03B0FD;
}

/* Mobile Responsive */
@media screen and (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .right {
    display: none; /* Hide menu by default */
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 0;
    width: 100%;
    background-color: #151925;
    text-align: center;
  }

  .right.active {
    display: flex; /* Show menu when active */
  }

  .button {
    padding: 15px;
    width: 100%;
    text-align: center;
  }
}
